<%- include("../partials/header")%>
<div class="container">
  <div class="scores-container">
    <div class="scores-title">Your Scores</div>
    <div class="scores-map-wrapper">
      <%if (scores.length) {scores.map((score, scoreIndex) => {%>
      <div class="scores-individual-score">
        <div>Score Number: <%= scoreIndex + 1%></div>
        <div>Total Par: <%= score.totals[ scoreIndex ].totalPar %></div>
        <div>Total Score: <%= score.totals[scoreIndex].totalScore %></div>
        <br />
        <% score.holes.map((hole) => {%>
        <!-- <div><%= hole.par%></div> -->
        <% }) %>
      </div>
      <%})%>
    </div>
    <% } %>

    <a href="/scores/new">Add A New Score</a>
  </div>
</div>
