<%- include("../partials/header")%>
<div>This is where you will see all the scores brother</div>

<br /><br />
<h2>Your Scores:</h2>
<%if (scores.length) {scores.map((score) => { score.map((hole) => { %>
<div><%= hole.par %></div>
<div><%= hole.fairwayHit %></div>
<div><%= hole.greenHit %></div>
<div><%= hole.putts %></div>
<div><%= hole.score %></div>

<% }) }) } else {%>
<div>No Scores Yet</div>
<% } %>

<a href="/scores/new">Click Here to add a new score</a>
